<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8"/>
    <title>front단 gugudan 호출</title>

</head>
<body>
    <!--/*@thymesVar id="key" type=""*/-->
    <p th:text="'' + ${key} + '단 : ' " />
    <th:block th:each="row: ${#numbers.sequence(1, key)}">
        <th:block th:each="col: ${#numbers.sequence(1, 9)}">
            <p th:text="'' + ${row} + ' X  ' + ${col} + ' = ' + (${row} * ${col})" />
        </th:block>
    </th:block>


</body>
</html>